## PROJECT-3. Анализ воронки

*Работу подготовила: Машковцева Дарья.*

ЦЕЛЬ

Исследовать поведение пользователей в обновлённом приложении.

ЗАДАЧИ

В рамках проверки гипотез вам необходимо решить три задачи:
1. Определить, насколько обучение сокращает время прохождения этапов игры.
2. Доказать, что успешное обучение само по себе влияет на оплату и не имеет значения то, каким этапом оно шло.
3. Определить, насколько прозрачен процесс взаимодействия с игрой.

КОНКРЕТНЫЕ ШАГИ (ФОРМАЛИЗОВАННЫЕ ЗАДАЧИ)
1. Сравнить время прохождения различных этапов для пользователей, которые завершили обучение, и пользователей, не начинавших обучение. Если показатель отличается, выяснить, насколько.
2. Проверить, существует ли зависимость между вероятностью оплаты вопросов и количеством обучений, которые начинал или завершал пользователь. 
3. Выяснить, как часто пользователи начинают обучение после выбора уровня сложности. (Это позволит оценить прозрачность процесса взаимодействия с игрой: если пользователи после выбора уровня сложности обращаются к обучению, значит, работа с приложением непонятна.)

In [3]:
import pandas as pd

events_data = pd.read_csv('data/7_4_Events.csv', sep=',')
purchase_data = pd.read_csv('data/purchase.csv', sep=',')

*Подготовка данных*

In [4]:
cond = (events_data.start_time>='2018-01-01') & (events_data.start_time<'2019-01-01') & (events_data.event_type=='registration')
registered = events_data[cond]['user_id'].to_list() # список пользователей, зарег. в 2018
events_df = events_data[events_data.user_id.isin(registered)]
events_df.start_time = pd.to_datetime(events_df.start_time, format='%Y-%m-%dT%H:%M:%S')

cond2 = (purchase_data.event_datetime>='2018-01-01') & (purchase_data.event_datetime<'2019-01-01')
registered2 = purchase_data[cond2]['user_id'].to_list()
purchase_df = purchase_data[purchase_data['user_id'].isin(registered)]
purchase_df.event_datetime = pd.to_datetime(purchase_df.event_datetime, format='%Y-%m-%dT%H:%M:%S')

C:\Users\User\AppData\Local\Programs\Python\Python310\lib\site-packages\pandas\core\generic.py:5516: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

*Рассчитываем количество пользователей на каждом этапе.*

In [5]:
registered_users_count = events_df[events_df["event_type"] == "registration"]["user_id"].nunique()
tutorial_start_users_count = events_df[events_df["event_type"] == "tutorial_start"]["user_id"].nunique()
percent_tutorial_start_users = tutorial_start_users_count / registered_users_count

tutorial_finish_users_count = events_df[events_df["event_type"] == "tutorial_finish"]["user_id"].nunique()
tutorial_completion_rate = tutorial_finish_users_count / tutorial_start_users_count

level_choice_users_count = events_df[events_df["event_type"] == "level_choice"]["user_id"].nunique()
percent_level_choice_users = level_choice_users_count / registered_users_count

training_choice_users_count = events_df[events_df["event_type"] == "pack_choice"]["user_id"].nunique()
percent_training_choice_users = training_choice_users_count / level_choice_users_count

paying_users_count = purchase_df["user_id"].nunique()
percent_of_paying_users = paying_users_count / training_choice_users_count

purchase_rate = paying_users_count / registered_users_count

*Объединяем таблицы*

In [32]:
purchase_df['event_type'] = 'purchase'
events_df = events_df.rename(columns={"id": "event_id"})
purchase_df = purchase_df.rename(columns={"id": "purchase_id"})
purchase_df = purchase_df.rename(columns={"event_datetime": "start_time"})
total_events_df = pd.concat([events_df,purchase_df],sort=False)

total_events_df = total_events_df.reset_index(drop=True).sort_values('start_time')
total_events_df

,event_id,event_type,selected_level,start_time,tutorial_id,user_id,purchase_id,amount
0,80308.0,registration,NaN,2018-01-01 03:48:40,NaN,27832,NaN,NaN
1,80309.0,registration,NaN,2018-01-01 04:07:25,NaN,27833,NaN,NaN
2,80310.0,registration,NaN,2018-01-01 08:35:10,NaN,27834,NaN,NaN
3,80311.0,registration,NaN,2018-01-01 11:54:47,NaN,27835,NaN,NaN
4,80312.0,registration,NaN,2018-01-01 13:28:07,NaN,27836,NaN,NaN
...,...,...,...,...,...,...,...,...
68554,NaN,purchase,NaN,2019-01-02 03:48:19,NaN,47498,18441.0,100.0
68555,NaN,purchase,NaN,2019-01-02 23:26:26,NaN,47647,18442.0,150.0
68556,NaN,purchase,NaN,2019-01-03 00:36:36,NaN,47554,18443.0,50.0
68557,NaN,purchase,NaN,2019-01-04 12:51:41,NaN,47742,18448.0,50.0
68558,NaN,purchase,NaN,2019-01-06 07:14:25,NaN,47732,18452.0,150.0

*Выявляем наиболее популярные пути с оплатой*

In [33]:
user_path_df = (total_events_df.groupby(["user_id"])["event_type"].apply(list).reset_index())

user_path_df["event_path"] = user_path_df["event_type"].apply(lambda x: " > ".join(x))

user_paths = (
    user_path_df.groupby(["event_path"])["user_id"]
    .nunique()
    .sort_values(ascending=False)
)

*Определяем время между этапами*

In [37]:
registration_df = total_events_df[total_events_df['event_type'] == 'registration']
registration_df = registration_df[["user_id", "start_time"]].rename(columns={"start_time": "registration_time"})

tutorial_start_df = total_events_df[total_events_df['event_type'] == 'tutorial_start']
tutorial_start_df_wo_duplicates = tutorial_start_df.sort_values("start_time").drop_duplicates("user_id")
tutorial_start_df_wo_duplicates = tutorial_start_df_wo_duplicates[["user_id", "tutorial_id", "start_time"]].rename(columns={"start_time": "tutorial_start_time"})

merged_df = registration_df.merge(tutorial_start_df_wo_duplicates, on="user_id", how="inner")
merged_df["timedelta"] = (merged_df["tutorial_start_time"] - merged_df["registration_time"])
merged_df.head()

,user_id,registration_time,tutorial_id,tutorial_start_time,timedelta
0,27833,2018-01-01 04:07:25,31508.0,2018-01-01 17:47:40,0 days 13:40:15
1,27834,2018-01-01 08:35:10,31510.0,2018-01-01 19:46:11,0 days 11:11:01
2,27835,2018-01-01 11:54:47,31506.0,2018-01-01 15:00:51,0 days 03:06:04
3,27836,2018-01-01 13:28:07,31505.0,2018-01-01 14:54:40,0 days 01:26:33
4,27839,2018-01-01 18:24:01,31509.0,2018-01-01 19:11:36,0 days 00:47:35

*Определяем время обучения*

In [8]:
tutorial_finish_df = total_events_df[total_events_df["event_type"] == "tutorial_finish"]

first_tutorial_ids = tutorial_start_df_wo_duplicates["tutorial_id"].unique()
tutorial_finish_df = tutorial_finish_df[tutorial_finish_df["tutorial_id"].isin(first_tutorial_ids)]

tutorial_finish_df = tutorial_finish_df[["user_id", "start_time"]].rename(columns={"start_time": "tutorial_finish_time"})
merged_df_2 = tutorial_start_df_wo_duplicates.merge(tutorial_finish_df, on="user_id", how="inner")
merged_df_2["timedelta"] = (merged_df_2["tutorial_finish_time"] - merged_df_2["tutorial_start_time"])

print(merged_df_2["timedelta"].mean())
print(merged_df_2["timedelta"].describe())

0 days 00:03:53.174160732
count                         9830
mean     0 days 00:03:53.174160732
std      0 days 00:01:44.803217992
min                0 days 00:00:16
25%                0 days 00:02:28
50%                0 days 00:03:42
75%                0 days 00:05:08
max                0 days 00:10:06
Name: timedelta, dtype: object

*Определяем время между registration и level_choice*

In [9]:
level_choice_df = total_events_df[total_events_df["event_type"] == "level_choice"]
level_choice_df = level_choice_df[["user_id", "start_time"]].rename(columns={"start_time": "level_choice_time"})
merged_df_3 = registration_df.merge(level_choice_df, on="user_id", how="inner")
merged_df_3["timedelta"] = (merged_df_3["level_choice_time"] - merged_df_3["registration_time"])

print(merged_df_3["timedelta"].mean())
print(merged_df_3["timedelta"].describe())

0 days 07:10:19.169863342
count                         8342
mean     0 days 07:10:19.169863342
std      0 days 04:33:51.164488800
min                0 days 00:08:15
25%         0 days 03:53:16.500000
50%                0 days 06:03:28
75%         0 days 09:34:58.500000
max                1 days 18:48:25
Name: timedelta, dtype: object

*Ищем пользователей, прошедших обучение хотя бы раз*

In [47]:
users_with_finished_tutorial = total_events_df[total_events_df["event_type"] == "tutorial_finish"]["user_id"].unique()

*Ищем пользователей, которые начали, но не закончили обучение*

In [45]:
users_with_started_tutorial = total_events_df[total_events_df["event_type"] == "tutorial_start"]["user_id"].unique()
set_users_with_started_tutorial = set(users_with_started_tutorial)
set_users_not_finished_but_started_tutorial = (set_users_with_started_tutorial.difference(set(users_with_finished_tutorial)))

print(len(set_users_not_finished_but_started_tutorial))

1608

*Ищем пользователей, ни разу не начинавших обучение*

In [16]:
all_users = total_events_df["user_id"].unique()
set_all_users = set(all_users)
set_users_not_started_tutorial = set_all_users.difference(set(users_with_started_tutorial))

print(len(set_users_not_started_tutorial))

8068

*Считаем пользователей, которые завершили обучение и совершили оплату*

In [17]:
purchase_df_1 = purchase_df[purchase_df["user_id"].isin(users_with_finished_tutorial)]
percent_of_purchase_1 = purchase_df_1["user_id"].nunique() / len(users_with_finished_tutorial)

*Считаем средний размер платежа разных групп*

In [18]:
purchase_df_2 = purchase_df[purchase_df["user_id"].isin(set_users_not_finished_but_started_tutorial)]
#print(purchase_df_2["user_id"].nunique())
percent_of_purchase_2 = purchase_df_2["user_id"].nunique() / len(set_users_not_finished_but_started_tutorial)
purchase_df_2['amount'].mean()

104.9618320610687

*Определяем, насколько обучение сокращает время прохождения этапов игры*

*Ищем пользователей, прошедших обучение хотя бы раз*

In [49]:
users_with_finished_tutorial

array([27835, 27836, 27833, ..., 47753, 47755, 47756], dtype=int64)

In [48]:
users_with_finished_tutorial = total_events_df[total_events_df["event_type"] == "tutorial_finish"]["user_id"].unique()
purchase_df_1 = purchase_df[purchase_df["user_id"].isin(users_with_finished_tutorial)]
purchase_df_1

      purchase_id  user_id          start_time  amount event_type
1171        16845    27845 2018-01-03 18:53:43     100   purchase
1175        16849    27910 2018-01-07 12:11:34     100   purchase
1176        16850    27940 2018-01-07 13:16:41     200   purchase
1178        16852    27981 2018-01-07 23:20:25      50   purchase
1179        16853    27969 2018-01-08 01:18:23     100   purchase
...           ...      ...                 ...     ...        ...
2767        18441    47498 2019-01-02 03:48:19     100   purchase
2768        18442    47647 2019-01-02 23:26:26     150   purchase
2769        18443    47554 2019-01-03 00:36:36      50   purchase
2774        18448    47742 2019-01-04 12:51:41      50   purchase
2778        18452    47732 2019-01-06 07:14:25     150   purchase

[1447 rows x 5 columns]

In [42]:
tutorial_finish_df = total_events_df[total_events_df['event_type'] == 'tutorial_finish']
tutorial_finish_df_wo_duplicates = tutorial_finish_df.sort_values("start_time").drop_duplicates("user_id")
tutorial_finish_df_wo_duplicates = tutorial_finish_df_wo_duplicates[["user_id"]]
tutorial_finish_df_wo_duplicates

       user_id
9        27835
11       27836
13       27833
16       27839
18       27834
...        ...
66935    47747
66944    47751
66946    47753
66953    47755
66955    47756

[10250 rows x 1 columns]

In [53]:
users_with_started_tutorial = total_events_df[total_events_df["event_type"] == "tutorial_start"]["user_id"].unique()
all_users = total_events_df["user_id"].unique()
set_all_users = set(all_users)
set_users_not_started_tutorial = set_all_users.difference(set(users_with_started_tutorial))

{32771,
 32780,
 32781,
 32782,
 32783,
 32785,
 32788,
 32789,
 32791,
 32792,
 32793,
 32799,
 32802,
 32814,
 32820,
 32822,
 32823,
 32826,
 32829,
 32831,
 32834,
 32837,
 32838,
 32840,
 32842,
 32846,
 32848,
 32859,
 32861,
 32862,
 32864,
 32865,
 32866,
 32867,
 32868,
 32869,
 32877,
 32884,
 32886,
 32887,
 32891,
 32893,
 32898,
 32899,
 32902,
 32909,
 32912,
 32914,
 32923,
 32926,
 32929,
 32932,
 32936,
 32939,
 32940,
 32945,
 32946,
 32948,
 32951,
 32959,
 32960,
 32964,
 32966,
 32967,
 32968,
 32969,
 32975,
 32976,
 32977,
 32978,
 32980,
 32983,
 32990,
 32991,
 32994,
 32995,
 32998,
 33000,
 33001,
 33009,
 33010,
 33013,
 33015,
 33021,
 33024,
 33025,
 33027,
 33029,
 33030,
 33031,
 33032,
 33034,
 33036,
 33037,
 33040,
 33041,
 33043,
 33045,
 33046,
 33047,
 33052,
 33053,
 33056,
 33062,
 33063,
 33064,
 33066,
 33067,
 33068,
 33070,
 33071,
 33072,
 33073,
 33076,
 33078,
 33079,
 33080,
 33083,
 33086,
 33092,
 33097,
 33100,
 33101,
 33102,
 33103,
 33109,
 33110,
 33116,
 33117,
 33122,
 33124,
 33125,
 33126,
 33131,
 33135,
 33139,
 33140,
 33143,
 33144,
 33145,
 33146,
 33147,
 33148,
 33153,
 33157,
 33158,
 33159,
 33160,
 33161,
 33165,
 33168,
 33169,
 33183,
 33185,
 33186,
 33188,
 33189,
 33190,
 33191,
 33192,
 33195,
 33199,
 33203,
 33204,
 33205,
 33208,
 33210,
 33215,
 33216,
 33217,
 33221,
 33224,
 33226,
 33229,
 33232,
 33233,
 33234,
 33236,
 33237,
 33238,
 33253,
 33256,
 33257,
 33259,
 33260,
 33262,
 33265,
 33268,
 33269,
 33278,
 33279,
 33282,
 33283,
 33287,
 33288,
 33289,
 33291,
 33292,
 33293,
 33295,
 33296,
 33297,
 33298,
 33300,
 33304,
 33312,
 33313,
 33314,
 33318,
 33319,
 33323,
 33325,
 33328,
 33329,
 33331,
 33336,
 33337,
 33338,
 33345,
 33346,
 33347,
 33349,
 33360,
 33361,
 33363,
 33364,
 33366,
 33369,
 33370,
 33372,
 33375,
 33377,
 33379,
 33382,
 33384,
 33388,
 33391,
 33394,
 33397,
 33401,
 33404,
 33412,
 33414,
 33417,
 33419,
 33424,
 33425,
 33428,
 33429,
 33431,
 33436,
 33440,
 33441,
 33445,
 33446,
 33452,
 33453,
 33456,
 33457,
 33458,
 33459,
 33464,
 33467,
 33471,
 33473,
 33477,
 33481,
 33483,
 33485,
 33486,
 33488,
 33491,
 33496,
 33499,
 33502,
 33509,
 33515,
 33516,
 33518,
 33519,
 33522,
 33523,
 33527,
 33529,
 33531,
 33536,
 33539,
 33541,
 33546,
 33547,
 33549,
 33551,
 33553,
 33556,
 33557,
 33559,
 33561,
 33565,
 33568,
 33575,
 33576,
 33577,
 33578,
 33582,
 33585,
 33586,
 33587,
 33589,
 33593,
 33597,
 33598,
 33605,
 33611,
 33612,
 33615,
 33616,
 33617,
 33618,
 33619,
 33622,
 33623,
 33626,
 33627,
 33629,
 33632,
 33634,
 33637,
 33638,
 33639,
 33640,
 33642,
 33643,
 33647,
 33649,
 33650,
 33654,
 33657,
 33658,
 33659,
 33660,
 33666,
 33667,
 33668,
 33671,
 33676,
 33678,
 33686,
 33687,
 33689,
 33691,
 33692,
 33693,
 33694,
 33697,
 33700,
 33702,
 33704,
 33709,
 33710,
 33711,
 33712,
 33713,
 33714,
 33715,
 33720,
 33727,
 33729,
 33730,
 33732,
 33734,
 33735,
 33736,
 33738,
 33742,
 33743,
 33748,
 33752,
 33754,
 33757,
 33760,
 33763,
 33766,
 33768,
 33771,
 33772,
 33773,
 33774,
 33776,
 33777,
 33781,
 33782,
 33784,
 33785,
 33788,
 33789,
 33790,
 33791,
 33792,
 33793,
 33794,
 33795,
 33799,
 33802,
 33803,
 33804,
 33805,
 33806,
 33807,
 33809,
 33811,
 33812,
 33813,
 33814,
 33815,
 33816,
 33817,
 33819,
 33824,
 33825,
 33827,
 33833,
 33838,
 33840,
 33841,
 33844,
 33846,
 33847,
 33849,
 33850,
 33856,
 33858,
 33878,
 33879,
 33881,
 33882,
 33883,
 33888,
 33890,
 33895,
 33897,
 33899,
 33900,
 33902,
 33906,
 33909,
 33912,
 33913,
 33916,
 33921,
 33923,
 33924,
 33926,
 33929,
 33930,
 33931,
 33935,
 33936,
 33937,
 33939,
 33941,
 33944,
 33945,
 33946,
 33948,
 33956,
 33958,
 33959,
 33961,
 33966,
 33969,
 33972,
 33974,
 33981,
 33983,
 33984,
 33990,
 33991,
 33993,
 33996,
 33997,
 34003,
 34005,
 34006,
 34008,
 34013,
 34017,
 34018,
 34019,
 34020,
 34021,
 34022,
 34025,
 34026,
 34027,
 34029,
 34030,
 34034,
 34035,
 34036,
 34037,
 34042,
 34043,
 34049,
 34054,
 34057,
 34069,
 34070,
 34071,
 34075,
 34076,
 34079,
 34080,
 34081,
 34082,
 34085,
 34086,
 34087,
 34090,
 34091,
 34094,
 34097,
 34099,
 34101,
 34102,
 34103,
 34104,
 34105,
 34108,
 34109,
 34110,
 34112,
 34114,
 34115,
 34116,
 34120,
 34122,
 34123,
 34125,
 34126,
 34127,
 34128,
 34129,
 34132,
 34134,
 34135,
 34140,
 34141,
 34142,
 34144,
 34145,
 34146,
 34149,
 34151,
 34154,
 34157,
 34158,
 34161,
 34163,
 34164,
 34169,
 34170,
 34171,
 34178,
 34184,
 34195,
 34196,
 34198,
 34201,
 34202,
 34207,
 34210,
 34211,
 34213,
 34219,
 34220,
 34225,
 34226,
 34229,
 34230,
 34234,
 34238,
 34239,
 34242,
 34244,
 34245,
 34249,
 34251,
 34252,
 34253,
 34255,
 34256,
 34259,
 34260,
 34266,
 34268,
 34272,
 34274,
 34280,
 34282,
 34283,
 34285,
 34286,
 34293,
 34295,
 34297,
 34299,
 34306,
 34308,
 34313,
 34317,
 34318,
 34320,
 34324,
 34325,
 34326,
 34327,
 34329,
 34335,
 34336,
 34337,
 34339,
 34340,
 34341,
 34342,
 34343,
 34344,
 34345,
 34346,
 34347,
 34349,
 34353,
 34355,
 34356,
 34364,
 34368,
 34371,
 34373,
 34375,
 34376,
 34379,
 34382,
 34383,
 34384,
 34391,
 34395,
 34396,
 34398,
 34400,
 34404,
 34406,
 34410,
 34412,
 34414,
 34415,
 34416,
 34417,
 34420,
 34433,
 34434,
 34435,
 34437,
 34438,
 34441,
 34442,
 34443,
 34444,
 34446,
 34450,
 34452,
 34455,
 34456,
 34457,
 34458,
 34461,
 34462,
 34466,
 34471,
 34478,
 34479,
 34483,
 34484,
 34488,
 34490,
 34493,
 34494,
 34499,
 34500,
 34505,
 34506,
 34509,
 34510,
 34516,
 34518,
 34519,
 34524,
 34526,
 34528,
 34533,
 34535,
 34540,
 34543,
 34547,
 34551,
 34557,
 34559,
 34568,
 34569,
 34571,
 34572,
 34573,
 34574,
 34576,
 34580,
 34583,
 34584,
 34585,
 34586,
 34589,
 34590,
 34591,
 34594,
 34596,
 34597,
 34599,
 34600,
 34601,
 34604,
 34608,
 34611,
 34617,
 34621,
 34622,
 34623,
 34624,
 34625,
 34633,
 34635,
 34639,
 34640,
 34648,
 34649,
 34654,
 34657,
 34660,
 34666,
 34668,
 34669,
 34671,
 34672,
 34673,
 34676,
 34678,
 34679,
 34680,
 34681,
 34682,
 34684,
 34687,
 34690,
 34691,
 34695,
 34696,
 34706,
 34710,
 34712,
 34714,
 34716,
 34719,
 34722,
 34723,
 34724,
 34726,
 34728,
 34732,
 34736,
 34738,
 34740,
 34741,
 34742,
 34745,
 34747,
 34748,
 34750,
 34751,
 34759,
 34763,
 34764,
 34783,
 34784,
 34786,
 34787,
 34790,
 34796,
 34797,
 34798,
 34799,
 34803,
 34804,
 34805,
 34807,
 34812,
 34815,
 34819,
 34823,
 34825,
 34828,
 34829,
 34836,
 34839,
 34841,
 34846,
 34847,
 34850,
 34852,
 34853,
 34854,
 34855,
 34856,
 34857,
 34859,
 34861,
 34863,
 34869,
 34879,
 34882,
 34883,
 34885,
 34889,
 34893,
 34895,
 34896,
 34897,
 34900,
 34901,
 34902,
 34903,
 34904,
 34906,
 34907,
 34908,
 34909,
 34913,
 34915,
 34916,
 34917,
 34918,
 34919,
 34921,
 34926,
 34929,
 34931,
 34934,
 34941,
 34942,
 34943,
 34944,
 34945,
 34946,
 34947,
 34948,
 34951,
 34956,
 34958,
 34960,
 34961,
 34963,
 34968,
 34969,
 34981,
 34983,
 34991,
 34993,
 34995,
 34996,
 35000,
 35002,
 35004,
 35005,
 35007,
 35008,
 35016,
 35018,
 35022,
 35024,
 35025,
 35026,
 35030,
 35033,
 35036,
 35038,
 35041,
 35044,
 35045,
 35046,
 35047,
 35048,
 35049,
 35054,
 35055,
 35056,
 35060,
 35062,
 35063,
 35066,
 35072,
 35077,
 35078,
 35080,
 35084,
 35087,
 35090,
 35092,
 35093,
 35097,
 35102,
 35104,
 35106,
 35108,
 35110,
 35111,
 35114,
 35117,
 35119,
 35120,
 35121,
 35122,
 35123,
 35125,
 35126,
 35127,
 35129,
 35133,
 35137,
 35141,
 35142,
 35143,
 35144,
 35146,
 35149,
 35151,
 35152,
 35153,
 35155,
 35156,
 35158,
 35159,
 35161,
 35162,
 35164,
 35169,
 35172,
 35176,
 35177,
 35182,
 35186,
 35191,
 35192,
 35196,
 35197,
 35198,
 35199,
 35200,
 35202,
 35203,
 35204,
 35207,
 35212,
 35213,
 35214,
 35215,
 35222,
 35224,
 35225,
 35230,
 35231,
 35233,
 35238,
 35240,
 35250,
 35253,
 35254,
 35257,
 35262,
 35266,
 35272,
 35284,
 35285,
 35288,
 35290,
 35291,
 35292,
 35293,
 35295,
 35301,
 35303,
 35304,
 35310,
 35313,
 35315,
 35316,
 ...}

*Определяем время прохождения между этапами для пользователей, прошедших обучение*

In [67]:
registration_df = total_events_df[total_events_df['event_type'] == 'registration']
registration_df = registration_df[["user_id", "start_time"]].rename(columns={"start_time": "registration_time"})

tutorial_start_df = total_events_df[total_events_df['event_type'] == 'tutorial_start']
tutorial_start_df_wo_duplicates = tutorial_start_df.sort_values("start_time").drop_duplicates("user_id")
tutorial_start_df_wo_duplicates = tutorial_start_df_wo_duplicates[["user_id", "tutorial_id", "start_time"]].rename(columns={"start_time": "tutorial_start_time"})

merged_df = registration_df.merge(tutorial_start_df_wo_duplicates, on="user_id", how="inner")
merged_df["timedelta_1"] = (merged_df["tutorial_start_time"] - merged_df["registration_time"])

table = merged_df.filter(['user_id', 'timedelta_1'])

tutorial_finish_df = total_events_df[total_events_df["event_type"] == "tutorial_finish"]
first_tutorial_ids = tutorial_start_df_wo_duplicates["tutorial_id"].unique()

tutorial_finish_df = tutorial_finish_df[tutorial_finish_df["tutorial_id"].isin(first_tutorial_ids)]
tutorial_finish_df = tutorial_finish_df[["user_id", "start_time"]].rename(columns={"start_time": "tutorial_finish_time"})

merged_df_2 = tutorial_start_df_wo_duplicates.merge(tutorial_finish_df, on="user_id", how="inner")
merged_df_2["timedelta_2"] = (merged_df_2["tutorial_finish_time"] - merged_df_2["tutorial_start_time"])

table = table.merge(merged_df_2.filter(['user_id', 'timedelta_2']), on="user_id", how="inner")